body{
  margin:0;
}

.sec-nav-bar {
  width: 100%;
  height: 70px;
  /* background-color: black; */
  position: static;
background-image: linear-gradient( #999090 , black);

}

li {
  display: inline;
  margin-right: 10px;
}

.nav-items{
  text-decoration: none;
  color: #fff;
}

.nav-items:hover {
  color: grey;
  text-decoration: none;
}

.nav-ul {
  text-align: right;
  padding-top: 2%;
  margin-top:0;
}
.image-cover{
  background-image: url(../goal-images/backimages.jpg);
  height: 600px;
  width:100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 3px 8px 3px black;
  animation: reetika 4s infinite;
}
@keyframes reetika {
  0% { background-image: url(../goal-images/backimages.jpg);}
  100% { background-image: url(../images/trees.jpg);}
}

.mid-title{
margin:auto;
  font-size: 60px;
  color:white;
}

.textbox{
  margin: auto;
  position: relative;
  top:40%;
  width:80%;
  background-color: black;
  opacity: 0.5;
  text-align: center;
}
/* secondboxtitle */
.secondboxtitle{

}

/* thirdbox */
.thirdbox{
  display: flex;
  width:100%;
  margin-top:10%;

  }
.goals{
  width:30%;
  height:350px;
  /* background-color: red; */
  margin-right: 2.5%;

  box-shadow: 5px 6px 20px 0px black;

}

/* -==========--=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=- */

.btn{
  width: 200px;
  height: 35px;
  font-family: 'Kaushan Script';
  font-size: 16px;
  text-shadow: 2px 2px #e5e3c9;
  border-radius: 10px;
  background-image: linear-gradient(112deg, #30AADD, white);
}

.inner-flip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cover-flip:hover .inner-flip {
  transform: rotateY(180deg);
}

.goalee,
.goal-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.goal-back {
  /* background-color: #2980b9; */
  background-image: linear-gradient(#F8CB2E,#FFBDE6);
  color: white;
  /* padding:2%; */
  transform: rotateY(180deg);
}


.goal1{
  background-image: url(../goal-images/nopoverty.jpg);

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.goal2{
  background-image: url(../goal-images/hunger.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.goal3{
  background-image: url(../goal-images/health.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity:0.9;
}
.goal4{
  background-image: url(../goal-images/education.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.goal5{
  background-image: url(../goal-images/genderequality.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 0.9;
}
.goal6{
  background-image: url(../goal-images/cleanwater.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal7{
  background-image: url(../goal-images/cleanenergy.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal8{
  background-image: url(../goal-images/decentwork.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal9{
  background-image: url(../goal-images/industry.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal10{
  background-image: url(../goal-images/inequality.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal11{
  background-image: url(../goal-images/sustainablecities.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal12{
  background-image: url(../goal-images/consumption.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal13{
  background-image: url(../goal-images/climate.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal14{
  background-image: url(../goal-images/ocean.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal15{
  background-image: url(../goal-images/grass.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal16{
  background-image: url(../goal-images/peace.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.goal17{
  background-image: url(../goal-images/partner.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.gif{
  background-image: url(../goal-images/gif.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* .goals:hover{
  box-shadow: 2px 2px black;
  width:34%;
  height:355px;
  transition: width 2s , height 2s;
} */

.text{
  text-align:center; position:relative; top:30%; font-size:50px;
  /* color:#fff; */
  /* text-shadow: 2px 2px black; */
  color:#0010ff;
}
.text:hover{
  /* color:#EB2678; */
  color:#FB2678;
}

.footer {
  text-align: center;
  /* background-color: #86c6f4; */
  /* background-image: linear-gradient(#FFA1A1 ,#F9FFA4); */
  background-color: #B4E197;
  padding: 80px 0px;
  margin-top: 15%;
box-shadow: -1px -4px 20px 0px black;
}
.social-link {
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
}
.social-link:hover {
  color: #886f6f;
}
